<!DOCTYPE html>
<html>
  <head>
    <%= render 'admin/shared/head' %>
  </head>

  <body class="skin-blue sidebar-mini ext-webkit ext-chrome ext-mac">
    <div class="wrapper">
      <%= render 'admin/shared/navbar' %>
      <%= render 'admin/shared/sidebar' %>
      <div class="content-wrapper">
        <%= render 'admin/shared/flashes' %>
        <section class="content-header">
          <%= yield :content_header %>
        </section>
        <section class="content">
          <%= yield %>
        </section>
      </div>
    </div>
    <%= render 'shared/modal_tip' %>
    <%= render 'admin/shared/modal_img' %>
  </body>
</html>

